.hystmodal__opened,
.hystmodal__shadow {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}
.hystmodal__shadow {
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: rgb(0, 0, 0);
}
.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}
.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 99;
  visibility: hidden;
}
.hystmodal--active {
  opacity: 1;
}
.hystmodal--active,
.hystmodal--moved {
  pointer-events: auto;
  visibility: visible;
}
.hystmodal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.hystmodal__close {
  position: absolute;
  z-index: 10;
  top: 4px;
  right: -40px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("../img/1727490.svg");
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.hystmodal__close:focus {
  outline: 2px dotted #afb3b9;
  outline-offset: 2px;
}
.hystmodal__window {
  margin: 50px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 600px;
  max-width: 100%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
  margin: 0;
  border-radius: 4px;
}
.hystmodal--active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}
.button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px 2px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  position: relative;
  border-radius: 50px;
  background: none;
  border: 1px solid #000;
}
.button:hover {
  background-color: #000;
  color: #fff;
}
.button:active {
  top: 1px;
}
.button:disabled {
  background: #ddd;
  border-color: #d5d5d5;
  color: #fff;
}

.hystmodal__styled {
  font-size: 16px;
  line-height: 1.5;
}

.hystmodal__styled button {
  background-color: #db0701;
  color: #fff;
  border: none;
  font-weight: bold;
  margin: 1em 0;
  padding: 10px 30px;
}
.hystmodal__styled a:hover {
  color: #39537a;
}

.hystmodal__window--form {
  width: 440px;
  max-width: 100%;
  /* background: linear-gradient(216.25deg, #ffffff 0%, #f3f3f3 100%), #fcfcfc; */
  box-shadow: 0px 0px 6px rgba(51, 66, 94, 0.5);
  padding: 40px 30px;
  margin: 150px;
}
.loginblock__h1 {
  margin-bottom: 30px;
  color: #2e3c56;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}

.formitem {
  padding-bottom: 24px;
  position: relative;
}
.formitem input {
  outline: none;
  background: #ffffff;
  box-shadow: inset 0 0 0 100px #fff;
  border: 1px solid #dde0e6;
  box-sizing: border-box;
  color: #484c53;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.formitem input:focus {
  border-color: #9d9fa3;
}
.formsubmit {
  justify-content: center;
  display: flex;
}
.formsubmit .button {
  width: 70%;
  height: 46px;
  font-weight: 500;
}
